@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
}

body {
  background-color: #212124;
}

textarea:focus,
input:focus {
  outline: none;
}
